:root {
    /* Color primario */
    --primario-muy-claro: #bfa4ff;
    --primario-claro: #a172ff;
    --primario-semi-claro: #7c12ff;
    --primario: #6e01ff;
    --primario-semi-oscuro: #6300e6;
    --primario-oscuro: #4d02b0;
    --primario-muy-oscuro: #2d0078;
    
    /* Color secundario */
    --secundario-muy-claro: #7dee68;
    --secundario-claro: #31c71b;
    --secundario-semi-claro: #22a612;
    --secundario: #1c7912;
    --secundario-semi-oscuro: #1b6014;
    --secundario-oscuro: #1a5116;
    --secundario-muy-oscuro: #072d06;

    /* Color de acento */
    --acento-muy-claro: #ff9fdc;
    --acento-claro: #fe36a8;
    --acento-semi-claro: #ef1386;
    --acento: #e00671;
    --acento-semi-oscuro: #ac0856;
    --acento-oscuro: #8f0c4b;
    --acento-muy-oscuro: #580029;

    /* Paleta monocromática */
    --gris-muy-claro: #fafbff;
    --gris-claro: #b5b7c7;
    --gris-semi-claro: #373952;
    --gris: #363745;
    --gris-semi-oscuro: #1f2130;
    --gris-oscuro: #11131c;
    --gris-muy-oscuro: #0c0d14;
}
