/* ------------------- Variables globales ------------------- */

:root {
    /* Colores para los backgrounds */
    --violeta: #5829BF;
    --amarillo: #EFB71E;
    --linear-1: linear-gradient(180deg, #88DE7F 0%, #A8EBEC 46%);
    --linear-2: linear-gradient(0deg, #E0D299 0%, #ADF8FD 44%, #EDFDFD 82%, #FFFFFF 100%);
    --linear-header: linear-gradient(0deg, #00D1D5 0%, #00D1D5 88%, #01D0D5 100%); /*modificar*/


    /* Colores para los botones */
    --btn-verde: #83C252;
}


/* ------------------- Estilo general ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
}

body {
    font-family: 'Lato';
}

.seccion {
    width: 100%;
    max-width: 1280px; 
    margin: 0 auto; 
}


/* ------------------- Header ------------------- */
#menu-hamburguesa {
    width: 34px;
    height: 26px;
}



/* ------------------- Sección 1 ------------------- */
#seccion-1-fondo {
    width: 100%;
    height: 960px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#seccion-1 {
    background-image: url('../img/seccion1/fondo-seccion1.png');
}

.contenido {
    width: 1080px;
    margin: 0 auto;
}

.btn-comprar {
    width: 200px;
    height: 50px; 
    background-color: var(--btn-verde); 
    border-radius: 111px; 
    border: 8px solid rgba(255, 255, 255, 1);
    color: white; 
    font-size: 20px; 
    font-weight: 900; 
    text-transform: uppercase; 
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 10px 20px;
    box-shadow:  4px 5px 10px 0 rgba(2, 24, 126, 1);
}